.footer {
  --color: #fff;
  min-height: var(--min-height-footer);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--lakota-green);
  & li {
    list-style-type: none;
  }
}
.footer-separating-line {
  position: relative;
  display: inline-block;
  width: 80%;
  height: 1px;
  background-color: var(--color);
}
.copyright {
  color: var(--color);
  padding: 1rem;
}
.networks {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color);
  padding: 1rem;
  .title {
    font-weight: 400;
    padding-right: 1rem;
  }
  & ul {
    display: flex;
  }
  & li {
    width: 2rem; height: 2rem;
    margin: 0.5rem;
    background-color: #fff;
    border-radius: 1rem;
    & .link {
      text-decoration: none;
    }
    & img {
      width: 100%;
    }
  }
}
.links {
  padding: 0.8rem;
  & li {
    margin: 0.6rem;
    & .link {
      text-decoration: none;
      color: var(--color-footer);
    }
  }
}
.current-link {
  color: var(--color);
  position: relative;
}
.current-link::after {
  content: '';
  color: var(--color-text);
  position: absolute;
  top: 1.3rem;
  left: 0%;
  border-radius: 0;
  border: none;
  width: 100%;
  height: 2px;
  background-color: var(--color);
}
.link {
  position: relative;
}

.link:not(.current-link)::after {
  content: '';
  position: absolute;
  top: 1.3rem;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color);
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.8s cubic-bezier(.87, 0, .13, 1);
}

.link:not(.current-link):hover::after {
  transform: scaleX(1);
  transform-origin: left center;
}
@media screen and (min-width: 800px) {
  .footer {
    flex-direction: row;
  }
  .footer-separating-line {
    width: 1px;
    height: 100%;
    min-height: calc(var(--min-height-footer) - (var(--min-height-footer) / 4));
  }
}