.header {
  position: fixed;
  z-index: 100;
  width: 100%; height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  padding: 0 1rem;
  & svg {
    position: relative;
    top: 0;
    width: 3rem;
    height: 3rem;
    rotate: 0 1 0 180deg;
    margin-right: 0.8rem;
    & path {
      fill: transparent;
      stroke: var(--lakota-green);
      stroke-width: 3;
    }
  }
}
.logo-desktop {
  display: none;
  height: var(--header-height);
  width: calc(var(--header-height) * 1.1);
}
.logo-img {
  display: none;
  height: 100%;
  width: 100%;
}
.logo-mobile {
  display: flex;
  margin-left: 0.5rem;
}
.title {
  display: flex;
  height: 100%;
  text-decoration: none;
  color: #000;
}
.title-logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0.5rem;
}
.title div span {
  display: block;
  text-transform: uppercase;
}
.title div span:first-child {
  font-family: "gotham-bold";
  font-size: 1.52rem;
  height: 20px;
}
.title div span:last-child {
  font-family: "gotham-Light";
  font-size: 0.7rem;
  height: 12px;
}

.path {
  stroke-dasharray: 1038.0909423828125;
  stroke-dashoffset: 0;
  animation: strokeLetter 10s 0s infinite;
}
@keyframes strokeLetter {
  from, to { 
    stroke-dashoffset: 0; 
    animation-timing-function: ease-in;
  }
  49%, 50% { 
    stroke-dashoffset: 1038.0909423828125; 
    animation-timing-function: ease-out;
  }
}
@media screen and (min-width: 32rem) {
  .logo-desktop {
    display: block;
  }
  .logo-img {
    display: block;
  }
  .logo-mobile {
    display: none;
  }
}
@media screen and (min-width: 48rem) {
  .header svg {
    top: -9px;
    width: 4rem;
    height: 4rem;
  }
  .title div span:first-child {
    font-size: 1.82rem;
    height: 25px;
  }
  .title div span:last-child {
    font-size: 0.84rem;
    height: 14px;
  }
}