.header {
  position: fixed;
  z-index: 100;
  width: 100%; height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  padding: 0 1rem;
  & svg {
    position: relative;
    top: 0;
    width: 3rem;
    height: 3rem;
    rotate: 0 1 0 180deg;
    margin-right: 0.8rem;
    & path {
      fill: transparent;
      stroke: var(--lakota-green);
      stroke-width: 3;
    }
  }
}
.title {
  display: flex;
  height: 100%;
  text-decoration: none;
  color: #000;
  & > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.title div span {
  display: block;
  text-transform: uppercase;
}
.title div span:first-child {
  font-family: "gotham-bold";
  font-size: 1.52rem;
  height: 20px;
}
.title div span:last-child {
  font-family: "gotham-Light";
  font-size: 0.7rem;
  height: 12px;
}

.path {
  stroke-dasharray: 1038.0909423828125;
  stroke-dashoffset: 0;
  animation: strokeLetter 10s 0s ease-in-out infinite;
}
@keyframes strokeLetter {
  from, to { stroke-dashoffset: 0; }
  49%, 51% { stroke-dashoffset: 1038.0909423828125; }
}
@media screen and (min-width: 768px) {
  .header svg {
    top: -9px;
    width: 4rem;
    height: 4rem;
  }
  .title div span:first-child {
    font-size: 1.82rem;
    height: 25px;
  }
  .title div span:last-child {
    font-size: 0.84rem;
    height: 14px;
  }
}