.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  & section {
    max-width: 65rem;
    & article, & aside {
      padding: 0 1rem;
      & h3 {
        padding: 1rem;
      }
      & p {
        line-height: 1.3rem;
      }
      & p:not(.history-cecile p) {
        padding: 0 1.5rem 1rem;
      }
      & ul {
        padding: 0 1.5rem;
        & li {
          padding: 0.2rem 0;
        }
      }
    }
  }
  .history-cecile p {
    padding: 0 1.5rem 1rem;
  }
}
.title {
  margin: 1rem;
  display: inline-block;
  & span:first-child {
    text-wrap: nowrap;
  }
}
.content header h2 {
  padding: 1rem;
}
.anchor {
  scroll-margin-top: var(--header-height); 
}

.img-cecile-container {
  margin: 0.3rem 1rem 0.5rem 1.45rem;
  float: left;
  width: 100px;
  height: 190px;
  /* clip-path: path('M 0 5 L 70 5 A 30 30 0 0 1 100 35 L 100 185 L 30 185 A 30 30 0 0 1 0 160 Z'); */
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media screen and (min-width: 800px) {
  .about section article p {
    line-height: 1.5rem;
  }
  .img-cecile-container {
    scale: 1.2;
    margin: 1.5rem 2rem 1.5rem 2.2rem;
  }
}