.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  & section {
    max-width: 65rem;
    & article, & aside {
      padding: 0 1rem;
      & h3 {
        padding: 1rem;
      }
      & p {
        line-height: 1.3rem;
      }
      & p:not(.history-cecile p) {
        padding: 0 1.5rem 1rem;
      }
      & ul {
        padding: 0 1.5rem;
        & li {
          padding: 0.2rem 0;
        }
      }
    }
  }
  .history-cecile p {
    padding: 0 1.5rem 1rem;

  }
}
.title {
  margin: 1rem;
  display: inline-block;
  & span:first-child {
    text-wrap: nowrap;
  }
}
.content header h2 {
  padding: 1rem;
}
.anchor {
  scroll-margin-top: var(--header-height); 
}

@media screen and (min-width: 800px) {
  .about section article p {
    line-height: 1.5rem;
  }
}