.realizations {
  --title-height: 2.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentation-text {
  margin-bottom: 2rem;
  max-width: 1000px;
}
.title {
  margin-bottom: 2rem;
}
.article {
  position: relative;
  margin-bottom: 4rem;
  max-width: 1000px;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: -2rem;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
}


.subtitle {
  margin: 0 0.5rem 1rem;
}
.event {
  margin: 1rem 0;
  & h3 {
    margin: 0 1rem 1rem;
  }
}
.date {
  margin: 0 1.5rem 0.5rem;
}
.text {
  margin: 1rem 1.5rem 2rem;
}
@media screen and (min-width: 48rem) {
  .realizations {
    padding: 3rem;
  }
}