.contact {
  padding: 1rem;
  & a {
    margin: 0 0.5rem 1rem;
  }
}
.title {
  padding-bottom: 1rem;
}
.subtitle {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}
.subtitle-h3 {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}
.paragraph {
  padding: 0.5rem;
}
.address, .contact-list {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}
.countries {
  padding: 1rem;
}
.country {
  margin: 1rem 0;
  &:first-child {
    & address:last-child {
      border-top: 2px solid #000;
    }
  }
  & address {
    margin: 1rem 0;
    padding: 1rem;
    & h3 {
      margin-bottom: 1rem;
    }
    & ul li span:not(li:first-child span) {
      opacity: 0;
    }
  }
}
.item {
  display: inline-block;
  padding: 0.2rem;
}

@media screen and (min-width: 48rem) {
  .contact {
    padding: 2rem;
  }
  .title {
    padding-bottom: 2rem;
  }
}