@font-face {
  font-family: "gotham-bold";
  src: url("/fonts/gotham-bold.woff2") format("woff2"),
       url("/fonts/gotham-bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gotham-light";
  src: url("/fonts/gotham-light.woff2") format("woff2"),
       url("/fonts/gotham-light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

:root {
  /* size */
  --header-height: 4rem;
  --width-navbar: 100vw;
  --min-height-footer: 5rem;

  /* color */
  --bg-color: #fff;
  --color-footer: #fff;
  --bg-color-footer: #2d2d2d;
  --color-text-white: #fff;
  --bg-color-black: #000;
  --lakota-green: rgba(136, 176, 79, 1);

  --responsive: 768px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
li {
  list-style: none;
}
@media (prefers-color-scheme: dark) {
  :root {
  }
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
}

.main {
  flex: 1;
  padding-top: var(--header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}
.cecile {
  position: relative;
}
.cecile::after {
  position: absolute;
  z-index: 10;
  bottom: 1rem;
  left: 50%;
  translate: -50% 0%;
  content: '';
  width: 4rem;
  height: 7rem;
  display: block;
  background-image: url('/img/cecile.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  scale: 0;
  transition: scale 0.3s ease-in-out;
  transform-origin: center bottom;
}
.cecile:hover::after {
  scale: 1;
  animation: bounce-scale-img 0.5s ease-in-out, spine-img 6s linear infinite;
  animation-delay: 0s, 3s;
}
@keyframes bounce-scale-img {
  from { scale: 0 0; }
  25% { scale: 0.9 1.2; }
  50% { scale: 1.2 0.9; }
  75% { scale: 0.95 1.05; }
  to { scale: 1 1; }
}
@keyframes spine-img {
  to {rotate: 0 1 0 360deg;}
}

@media (prefers-color-scheme: dark) {
}


::view-transition-group(root) {
  z-index: auto !important;
}
::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity scale;
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 2;
  animation: none !important;
}
::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}