

@media (prefers-color-scheme: dark) {
}

@media (hover: hover) and (pointer: fine) {
}

@media (prefers-color-scheme: dark) {

}

.hero-home {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - var(--header-height));
  & > * {
    --color: #000;
  }
  & h1 {
    color: var(--color);
    text-transform: uppercase;
    font-size: clamp(1.2rem, 5vw, 2rem);
    padding-bottom: clamp(0.5rem, 2vw, 1rem);
    & span:first-child {
      text-wrap: nowrap;
    }
  }
  & p {
    font-size: clamp(1rem, 2vw, 1.5rem);
  }
}
.hero-text {
  position: sticky;
  top: var(--header-height);
  width: 90%;
  max-width: 60rem;
  padding: clamp(1.5rem, 3vw, 3rem);
  border-radius: 1rem;
  background-color: #ffffff87;
}
.bg-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 0;
}
.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: -1;
  &::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;

    background: #ffffff;
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.61) 0%, rgb(184 184 200 / 70%) 13%, rgb(139 142 155) 32%, rgb(211 246 253) 100%);
    background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.61) 0%, rgb(184 184 200 / 70%) 13%, rgb(139 142 155) 32%, rgb(211 246 253) 100%);
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.61) 0%, rgb(184 184 200 / 70%) 13%, rgb(139 142 155) 32%, rgb(211 246 253) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#87EBFF", GradientType=0);
  }
  & > .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.content {
  width: 100vw; min-height: calc(100vh - var(--header-height));
  padding: 2rem 1rem;
  @media screen and (min-width: 768px) {
    padding: 2rem 4rem;
  }
  .article, .aside {
    padding: 1rem 0.5rem;
    & h3 {
      margin: 0 0 0.5rem;
    }
  }
  & p {
    padding: 0 0.5rem;
    & li {
      margin: 0.5rem 0;
    }
  }
  & p:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  & ul {
    padding: 0 0.5rem;
    & li {
      margin: 0.5rem 0;
    }
  }
}