

@media (prefers-color-scheme: dark) {
}

@media (hover: hover) and (pointer: fine) {
}

@media (prefers-color-scheme: dark) {

}

.hero-home {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - var(--header-height));
  & > * {
    --color: #000;
  }
  & h1 {
    color: var(--color);
    font-size: clamp(1rem, 5vw, 2rem);
    padding-bottom: clamp(0.5rem, 2vw, 1rem);
    & span {
      margin-top: 0.8rem;
      display: block;
      font-size: clamp(0.8rem, 2vw, 1.5rem);
      font-weight: 400;
    }
  }
}
.hero-text {
  position: sticky;
  top: var(--header-height);
  width: 92%;
  max-width: 60rem;
  padding: clamp(1.5rem, 3vw, 3rem);
  border-radius: 1rem;
  background-color: #ffffff87;
}
.bg-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 0;
}
.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: -1;
  &::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;

    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(136, 176, 79, 0.5) 100%);
  }
  & > .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.section {
  --max-size: 75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.header {
  width: 100%;
  max-width: var(--max-size);
  font-size: clamp(1.5rem, 3vw, 2rem);
  margin-bottom: clamp(0.5rem, 3vw, 2rem);
}
.title {
  text-align: center;
  font-size: clamp(1.2rem, 4vw, 3rem);
  margin-bottom: clamp(0.5rem, 3vw, 2rem);
}
.article {
  padding: 0 1rem;
  width: 100%;
  max-width: var(--max-size);
}
.article-title {
  margin: 0.5rem 0;
  font-size: clamp(1.5rem, 5vw, 2rem);
}
.article-content {
  margin-bottom: 2rem;
  & p {
    line-height: 1.3rem;
  }
  & img {
    width: 100%;
    object-fit: cover;
    float: left;
    border-radius: 0.5rem;
    shape-outside: margin-box;
    margin: 0 0 0.5rem;
  }
  & h4 {
    margin: 1rem 0;
  }
  & ul {
    padding: 0 0.5rem;
    & li {
      margin-bottom: 0.5rem;
      & span {
        position: relative;
        display: inline-block;
        &::after {
          content: '';
          transition: width  0.3s ease-in-out;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background: #000;
        }
        &:hover&::after {
          width: 100%;
        }
      }
    }
  }
}

.article:nth-of-type(2) .article-content {
  & > p {
    margin-bottom: 1rem;
  }
  & ul {
    max-width: 420px;
  }
  & ul li {
    margin-bottom: 0.5rem;
    & span {
      padding-left: 1.3rem;
      display: block;
    }
  }
}

@media screen and (min-width: 400px) {
  /* .article-title {
    margin: 1rem 0;
  } */
  .article-content {
    & img {
      width: 60%;
      margin: 0 10px 0 0;
      max-width: 260px;
      border-radius: 0.5rem 0.5rem 3rem 0.5rem;
    }
  }
}
@media screen and (min-width: 800px) {
  .article-content {
    padding: 0 1rem;
    & p {
      line-height: 1.5rem;
    }
  }
  .article-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .article:first-of-type .article-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    & p {
      max-width: 600px;
      margin-right: 1rem;
      align-content: center;
    }
    & img {
      width: 50%;
      max-width: 500px;
      aspect-ratio: 2 / 1.1;
      margin: 0;
      margin-left: 1rem;
      border-radius: 3rem 0 3rem 0;
      border-top: 1rem solid var(--lakota-green);
      border-left: 1rem solid var(--lakota-green);
      border-bottom: 0.25rem solid var(--lakota-green);
      border-right: 0.25rem solid var(--lakota-green);
    }
  }
}


.anchor {
  scroll-margin-top: var(--header-height);
}